/* header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh:
}

.timer {
    background-color: whitesmoke;
    color: black;
} */